In [1]:
import pandas as pd

df = pd.read_csv('./mtcars.csv')
df.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110,3.90,2.620,16.46,0,manual,4,4
1,Mazda RX4 Wag,21.0,6.0,160.0,110,3.90,2.875,17.02,0,manual,4,4
2,Datsun 710,22.8,4.0,108.0,93,3.85,2.320,18.61,1,manual,4,1
3,Hornet 4 Drive,21.4,6.0,258.0,110,3.08,3.215,0.10,1,auto,3,1
4,Hornet Sportabout,18.7,8.0,360.0,175,3.15,3.440,17.02,0,auto,3,2

In [9]:
print(df.loc[1])
print(df.iloc[0])

Unnamed: 0    Mazda RX4 Wag
mpg                    21.0
cyl                     6.0
disp                  160.0
hp                      110
drat                    3.9
wt                    2.875
qsec                  17.02
vs                        0
am                   manual
gear                      4
carb                      4
Name: 1, dtype: object
Unnamed: 0    Mazda RX4
mpg                21.0
cyl                 6.0
disp              160.0
hp                  110
drat                3.9
wt                 2.62
qsec              16.46
vs                    0
am               manual
gear                  4
carb                  4
Name: 0, dtype: object

In [22]:
# 데이터 프레임 확인하기
# 1. 행열 개수
print(df.shape)

# 2. columns (feature)
print(df.columns)

# 3. 기초통계량
print(df.describe())

# 4. 요약정보
print(df.info())

(32, 12)
Index(['Unnamed: 0', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'gear', 'carb'],
      dtype='object')
             mpg        cyl        disp          hp       drat         wt  \
count  32.000000  30.000000   32.000000   32.000000  32.000000  32.000000
mean   20.090625   7.600000  230.721875  146.687500   3.596563   3.217250
std     6.026948   8.194195  123.938694   68.562868   0.534679   0.978457
min    10.400000   4.000000   71.100000   52.000000   2.760000   1.513000
25%    15.425000   4.000000  120.825000   96.500000   3.080000   2.581250
50%    19.200000   6.000000  196.300000  123.000000   3.695000   3.325000
75%    22.800000   8.000000  326.000000  180.000000   3.920000   3.610000
max    33.900000  50.000000  472.000000  335.000000   4.930000   5.424000

             qsec         vs     carb
count   31.000000  32.000000  32.0000
mean    19.866774   0.437500   2.8125
std     15.310469   0.504016   1.6152
min      0.100000   0.000000   1.0000
25%     16.785000   0.000000   2.0000
50%     17.600000   0.000000   2.0000
75%     18.755000   1.000000   4.0000
max    100.000000   1.000000   8.0000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     object
 1   mpg         32 non-null     float64
 2   cyl         30 non-null     float64
 3   disp        32 non-null     float64
 4   hp          32 non-null     int64
 5   drat        32 non-null     float64
 6   wt          32 non-null     float64
 7   qsec        31 non-null     float64
 8   vs          32 non-null     int64
 9   am          32 non-null     object
 10  gear        32 non-null     object
 11  carb        32 non-null     int64
dtypes: float64(6), int64(3), object(3)
memory usage: 3.1+ KB
None

In [23]:
# 4. 요약정보
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     object
 1   mpg         32 non-null     float64
 2   cyl         30 non-null     float64
 3   disp        32 non-null     float64
 4   hp          32 non-null     int64
 5   drat        32 non-null     float64
 6   wt          32 non-null     float64
 7   qsec        31 non-null     float64
 8   vs          32 non-null     int64
 9   am          32 non-null     object
 10  gear        32 non-null     object
 11  carb        32 non-null     int64
dtypes: float64(6), int64(3), object(3)
memory usage: 3.1+ KB
None